@import "_variables";

header {
    @include flex-align-self(stretch);
    @include flex-shrink(0);

    @include display-flex;
    @include flex-direction(column);
    @include flex-justify-content(space-around);
    @include flex-align-items(center);

    text-align: center;

    @media (max-width: $veryTinyMax) { 
        padding-top: 1em;
        min-height: 12em;
    }

    h1.title {
        font: normal 3em $titleFont, cursive;
        text-transform: uppercase;
        line-height: 1em;
        margin: 0;
        padding-top: .5em;

        a {
            color: $black;
            text-decoration: none;
        }


        @media (max-width: $desktopMinimum) {
            padding: 0 1em
        }
    }

    .subtitle {
        color: $black;
        font: .9em $headingFont, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding-top: 1.5rem;
    }

    @media (min-width: $desktopMinimum) {
        &.home {
            padding-top: 1em;
            .title { font-size: 3em; }
        }
    }
}

.header-links {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (max-width: $desktopMinimum) {
        margin-top: 1.5em;
    }

    li {
        display: inline-block;
        cursor: pointer;

        text-align: center;
        border: none;
        border-radius: 100%;
        color: $white;

        font-size: 1.75em;
        width: 2em;
        height: 2em;
        line-height: 2.5em;
        margin: 1em .5em;

        @media (max-width: $desktopMinimum) {
            font-size: 1.25em;
            height: 1.75em;
            line-height: 2.2em;
            width: 1.75em;
            margin: 0 .2em;
        }

        &:nth-child(1n+1) { background-color: $purple; }
        &:nth-child(2n+2) { background-color: $blue; }
        &:nth-child(3n+3) { background-color: $green; }
        &:nth-child(4n+4) { background-color: $yellow; }
        &:nth-child(5n+5) { background-color: $pink; }
        &:nth-child(6n+6) { background-color: $red; }

        top: 0;
        position: relative;
        transition: top ease 0.5s;
        &:hover { filter: brightness(120%) saturate(75%); top: -0.5em; }

        a { color: $white; text-decoration: none; }
      }
}
