---
layout: default
---

<h2>{{ page.title }}</h2>

<ul class="gallery-grid">
{% for work in page.works %}
<li>
    <img src="{{work.thumbnail}}"
            alt="{{work.thumbnail-alt}}"
            style="width:100%" onclick="openModal({{work.id}})">

    <div id="modal-{{work.id}}" class="modal colorway">
        <div class="modal-content">
        <span class="close" onclick="closeModal({{work.id}})">
            <i class="fas fa-times"></i>
        </span>
        {% for pic in work.pics %}
            <div class="slides">
                <img src="{{pic.src}}" alt="{{pic.alt}}" style="width:100%">
                <div class="numbertext">{{forloop.index}} / {{forloop.length}}</div>
            </div>
        {% endfor %}
            <a class="prev" onclick="plusSlides({{work.id}}, -1)">
                <i class="far fa-hand-point-left"></i>
            </a>
            <a class="next" onclick="plusSlides({{work.id}}, 1)">
                <i class="far fa-hand-point-right"></i>
            </a>
            <div class="caption-container">
                <p id="caption">{{work.description}}</p>
                {% if work.credit.text %}
                    <p class="photo-credit">
                        {{work.credit.text}}
                        {% if work.credit.url %}
                          <a href="{{work.credit.url}}">
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</li>
{% endfor %}
</ul>
<script>

function openModal(id) {
  document.getElementById(`modal-${id}`).style.display = "block";
  showSlides(id, 1);
}

function closeModal(id) {
  document.getElementById(`modal-${id}`).style.display = "none";
}


function plusSlides(id, n) {
  showSlides(id, slideIndex += n);
}

function showSlides(id, n) {
  slideIndex = n;
  var i;
  var slides = document.querySelectorAll(`#modal-${id} .slides`);
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}
</script>