---
layout: default
---

{% assign work = page %}
<h2>{{ work.title }}</h2>

<img src="{{work.pics.first.src}}" alt="{{work.pics.first.alt}}" class="piece-image" />

<p id="caption">{{work.description}}</p>

{% if work.credit.text %}
<p class="photo-credit">
    {{work.credit.text}}
    {% if work.credit.url %}
        <a href="{{work.credit.url}}">
        <i class="fas fa-external-link-alt"></i>
        </a>
    {% endif %}
</p>
{% endif %}


{% assign therest = work.pics | slice: 1, work.pics.size %}
{% for pic in therest %}
  <img src="{{pic.src}}" alt="{{pic.alt}}" class="piece-image" />
{% endfor %}

<a href="{{ page.category | downcase | relative_url }}">
    Back
</a>